parameters:
    database_driver: "%env(SYLIUS_DATABASE_DRIVER)%"
    database_host: "%env(SYLIUS_DATABASE_HOST)%"
    database_port: "%env(SYLIUS_DATABASE_PORT)%"
    database_name: "%env(SYLIUS_DATABASE_NAME)%"
    database_user: "%env(SYLIUS_DATABASE_USER)%"
    database_socket: '%env(SYLIUS_DATABASE_SOCKET)%'
    database_password: "%env(SYLIUS_DATABASE_PASSWORD)%"
    # You should uncomment this if you want use pdo_sqlite.
    # database_path: "%kernel.project_dir%/data.db3"

    mailer_transport: "%env(SYLIUS_MAILER_TRANSPORT)%"
    mailer_host: "%env(SYLIUS_MAILER_HOST)%"
    mailer_user: "%env(SYLIUS_MAILER_USER)%"
    mailer_password: "%env(SYLIUS_MAILER_PASSWORD)%"
    mailer_port: '%env(SYLIUS_MAILER_PORT)%'
    secret: "%env(SYLIUS_SECRET)"
    google_api.credentials_json: '%kernel.root_dir%/../DestroMachinesStore-965e04f545e7.json'
    google_api.bucket: destromachinesstore_images

    # Fallback values (used if environmental variables are not set)
    env(SYLIUS_DATABASE_DRIVER): pdo_pgsql
    env(SYLIUS_DATABASE_HOST): null
    env(SYLIUS_DATABASE_PORT): null
    env(SYLIUS_DATABASE_SOCKET): '/cloudsql/destromachinesstore:us-central1:destromachines-db'
    env(SYLIUS_DATABASE_NAME): DestroMachinesStore
    env(SYLIUS_DATABASE_USER): proxyuser
    env(SYLIUS_DATABASE_PASSWORD): 075B5VMz^G4c

    env(SYLIUS_MAILER_TRANSPORT): smtp
    env(SYLIUS_MAILER_HOST): localhost
    env(SYLIUS_MAILER_USER): null
    env(SYLIUS_MAILER_PASSWORD): null
    env(SYLIUS_MAILER_PORT): '25'
    env(SYLIUS_MAILER_SENDER): support@destromachines.com
    env(SYLIUS_SECRET): EDITME
