{% extends '@SyliusShop/layout.html.twig' %}

    {% block metatags %}
        <meta name="Description" CONTENT="Destro Machines offers affordable swimming towers and resistance swimming products. Get a swimming tower today and become the machine.">
        <meta name="keywords" content="Power Tower, Swim Tower, Swimming Tower, Swimming Resistance Training" >
        <meta name="og:title" content="Destro Machines" >
        <meta name="og:type" content="company" >
        <meta name="og:url" content="https://www.destromachines.com" >
        <meta name="og:description" content="Destro Machines offers affordable swimming towers and resistance swimming products. Get a swimming tower today and become the machine." >
        <meta name="og:image" content="" >
        <meta name="og:image:type" content="image/png" >
        <meta name="og:site_name" content="Destro Machines" >
        <meta name="fb:admins" content="" >
        <meta name="fb:app_id" content="" >
        <meta name="fb:pages" content="" >
        <meta name="format-detection" content="telephone=no" >
        <meta name="twitter:card" content="summary_large_image" >
        <meta name="twitter:site" content="@DestroMachines" >
        <meta name="twitter:title" content="Destro Machines" >
        <meta name="twitter:description" content="Destro Machines offers affordable swimming towers and resistance swimming products. Get a swimming tower today and become the machine." >
        <meta name="twitter:image" content="" >
        <meta name="twitter:image:src" content="" >
    {% endblock %}
{% block hero %}
<div class="ui fluid image">
    <img src="{{ asset('Destro4.jpg') | imagine_filter("hero_image")}}" alt="Power Towers">
    <div style="position: absolute; bottom: 4rem; left: 4rem; width: 100%; height: auto;"></div>
</div>
{% endblock %}

{% block content %}

{% endblock %}
