/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'default';
@reset      : 'default';

/* Elements */
@button     : 'default';
@container  : 'default';
@divider    : 'default';
@flag       : 'default';
@header     : 'default';
@icon       : 'default';
@image      : 'default';
@input      : 'default';
@label      : 'default';
@list       : 'default';
@loader     : 'default';
@rail       : 'default';
@reveal     : 'default';
@segment    : 'default';
@step       : 'default';

/* Collections */
@breadcrumb : 'default';
@form       : 'default';
@grid       : 'default';
@menu       : 'default';
@message    : 'default';
@table      : 'default';

/* Modules */
@accordion  : 'default';
@checkbox   : 'default';
@dimmer     : 'default';
@dropdown   : 'default';
@embed      : 'default';
@modal      : 'default';
@nag        : 'default';
@popup      : 'default';
@progress   : 'default';
@rating     : 'default';
@search     : 'default';
@shape      : 'default';
@sidebar    : 'default';
@sticky     : 'default';
@tab        : 'default';
@transition : 'default';

/* Views */
@ad         : 'default';
@card       : 'default';
@comment    : 'default';
@feed       : 'default';
@item       : 'default';
@statistic  : 'default';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : '../../src/semantic/site';

/*******************************
         Import Theme
*******************************/

@font-face {
 font-family: ProximaNova;
 src: url('/assets/shop/css/themes/default/assets/fonts/ProximaNova/ProximaNova-ExtraBoldItalic.eot');
 src: local('ProximaNova ExtraBoldItalic'), local('ProximaNova-ExtraBoldItalic'),
    url('/assets/shop/css/themes/default/assets/fonts/ProximaNova/ProximaNova-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/shop/css/themes/default/assets/fonts/ProximaNova/ProximaNova-ExtraBoldItalic.woff2') format('woff2'),
    url('/assets/shop/css/themes/default/assets/fonts/ProximaNova/ProximaNova-ExtraBoldItalic.woff') format('woff'),
    url('/assets/shop/css/themes/default/assets/fonts/ProximaNova/ProximaNova-ExtraBoldItalic.otf') format('opentype'),
    url('/assets/shop/css/themes/default/assets/fonts/ProximaNova/ProximaNova-ExtraBoldItalic.ttf') format('truetype'),
    url('/assets/shop/css/themes/default/assets/fonts/ProximaNova/ProximaNova-ExtraBoldItalic.svg#ProximaNova') format('svg');
 font-weight: 800;
 font-style: italic;
}

@font-face {
  font-family: 'Futura-Medium';
  src: url('/assets/shop/css/themes/default/assets/fonts/futura/Futura-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/shop/css/themes/default/assets/fonts/futura/Futura-Medium.woff') format('woff'),
  url('/assets/shop/css/themes/default/assets/fonts/futura/Futura-Medium.ttf')  format('truetype'),
  url('/assets/shop/css/themes/default/assets/fonts/futura/Futura-Medium.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Futura-Book';
  src: url('/assets/shop/css/themes/default/assets/fonts/futura/Futura-Book.eot?#iefix') format('embedded-opentype'),
  url('/assets/shop/css/themes/default/assets/fonts/futura/Futura-Book.woff') format('woff'),
  url('/assets/shop/css/themes/default/assets/fonts/futura/Futura-Book.ttf')  format('truetype'),
  url('/assets/shop/css/themes/default/assets/fonts/futura/Futura-Book.svg#webfont') format('svg');
}

@import "../../node_modules/semantic-ui-less/theme.less";


@invertedBackground: #0655C6;
@invertedColor: #00FFA1;
@headerFont        : 'ProximaNova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@pageFont          : 'Futura-Book', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@googleFontName    : "";
@importGoogleFonts : false;
@googleFontSizes   : '';
@googleSubset      : '';

@googleProtocol    : '';
@googleFontRequest : '';

@primaryColor        : #003B9F;

@miniWidth: 35px;
@tinyWidth: 64px;
@smallWidth: 112px;
@mediumWidth: 195px;
@largeWidth: 412px;
@bigWidth: 600px;
@hugeWidth: 800px;
@massiveWidth: 960px;

/* End Config */