{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<span class="ui huge header" id="product-price">
    {{ money.calculatePrice(product|sylius_resolve_variant) }}
</span>
<span>

    {% set prices = product.variants|first.channelPricings|first %}
    {% if prices.originalPrice is defined and prices.originalPrice is not null %}
        Original Price: {{ money.format(prices.originalPrice, 'USD') }}
    {% endif %}
     </span>
