// Sylius colors.
$color-sylius: #FFFFF;
$color-sylius-dark: #FFFFF;
$color-sylius-light: #FFFFF;

// Background colors.
$color-background: #red;
$color-header-background: #FFFFF;

// Links.
$color-link: rgba(0,0,0,.87);
