{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}About{% endblock %}

{% block content %}
    <p> <i>“I graduated from Purdue University in 2014 as a mechanical engineer and swimmer. Afterwards, I spent several
        years as a machine designer in automotive and manufacturing facilities. What I learned is that making an athlete
        is a lot like making a machine. When we build a machine, we use exact measurements, designs, plans, schedules,
        and conduct trials. After each revision, we quantify performance and make the appropriate changes until we have
        the perfect performance. This is how swimmers should be training, but we don’t yet have the technology available
        to train this effectively. I founded Destro Machines so that I could develop the tools our sport needs to escape
        the dark ages of training. It is our promise to develop the best training technology that the swimming world has
        ever seen. Machines aren’t just what we make, Machines are who we make.”</i> &#8213; Chuck Destro, Co-Founder</p>
    <h2 class="ui horizontal section divider header"> {{ 'destro.about'|trans }}</h2>



    <p> Destro Machines was co-founded in 2015 in Lafayette Indiana. In collaboration with close friends, our founders undertook a new training experiment. The goal? Qualify for the 2016 Olympic Trials with only 30 minutes or less of time spent in the water a
        day. Since we trained exclusively for the 50 free, we felt this was going to be a fun experiment. </p>



    <p> After a 2-year break in swimming followed by just 12 weeks of this experimental method, we were able to produce
        a lifetime best OT qualifying time. </p>



    <p> How? </p>



    <p> The short story is that we focused all our effort on high quality; efficient training. </p>



    <p> This is exactly what Destro Machines was founded to do. We want to change swim training from mindless miles of
        brain dead training, into quantifiable and efficient training.
    </p>



{% endblock %}
