{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block content %}
    <h2 class="ui horizontal section divider header">{{ 'destro.shippingpolicy'|trans }}</h2>
{% endblock %}
