<h3 class="ui center aligned icon header">
    <i class="circular mail icon"></i>
    <a href="mailto:support@destromachines.com" target="_blank">support@destromachines.com</a>
    <span class="sub header">
        {{ 'sylius.ui.need_assistance'|trans }} Contact us!
    </span>
</h3>

<div class="ui divider"></div>

<div class="ui center aligned basic segment">
    <i class="big visa icon"></i>
    <i class="big mastercard icon"></i>
    <i class="big amex icon"></i>
    <i class="big discover icon"></i>
</div>
